@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
}

body {
    background-color: #ECEFF4;
    color: #4C566A;
}

.container {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 700px;
    padding: 30px 0px;

    background-color: #E5E9F0;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;

    background-color: #D8DEE9;
    border-radius: 10px;

    width: 400px;
    margin: 30px auto 50px;
}

input[type="text"] {
    width: 100%;
    padding: 20px;

    background-color: transparent;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

button[type="submit"] {
    padding: 20px;

    background-color: #4C566A;
    color: #ECEFF4;

    border: 3px solid #4C566A;
    border-radius: 10px;
}

.delete-btn {
    background-color: #4C566A;
    color: #ECEFF4;

    padding: 10px 13px;
    margin: 10px 0px;

    border: none;
    border-radius: 7.5px;
}  

button:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th {
    border: 2px solid #4C566A;
    border-right: transparent; border-left: transparent;
    padding: 15px 0px;
}

tr {
    text-align: center;
}

.deleteColumn {
    width: 200px;
}